*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

@font-face{
    font-family: 'futura';
    src: url(/fonts/Futura-Med.ttf);
}

.wrapper{
    width:100%;
    position: relative;/*子要素はfooter*/
    height:100%;
    min-height:100%;
    z-index: 0;
}

.container{
    padding-bottom: 140px;
}

#header{
    margin-right: 50px;
    float: right;
    z-index: 3;
    position:absolute;
    right:0;
}

#header a{
    text-decoration: none;
    font-size: 26px;
    color:#fff;
    line-height:22.2px;
    display:block;
}

#header li{
    list-style-type: none;
    text-align:right;
    margin-top:10px;
    padding:10px;
    float:left;
}

#header a:hover{
    color: #3d5cdb;
    transition: 0.3s;
}

.main-visual{
    width: 100%;
    height: 900px;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    z-index: 0;
    position: relative;
}

.logo{
    z-index: 3;
    width:950px;
    position: absolute;
    left: 0;
    right: 0;
    top:275px;
    bottom:40px;
    margin : auto;
    text-align:center;
}

.logo p{
    color:#fff;
    font-style:italic;
    font-size: 45px;
    line-height:37.5px;
    text-align:center;
    margin-top: 30px;
}

.logo img{
    width:90%;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 53px;
    line-height: 44.4px;
    color:#3d5cdb;
    padding: 60px;
    font-family:futura;
}

#introduction{
    overflow:hidden;
    width:100%;
    margin: 0 auto;
}

#introduction img{
    float:left; 
    width:30vw;
    height:34vh;
}

#introduction p{
    color:#333333;
    line-height:32px;
    font-size: 16px;
    width:100%;
    margin-bottom:10px;
    font-family:'Hiragino Kaku Gothic ProN0';
}


#introduction a:hover{
    box-shadow:0 0 10px #808080;
}



.contents1{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}

.right-box{
    width: 400px;
    height:100%;
    float:left;
    margin-left:5%;
}

.contents2{
    margin-top:90px;
    display: flex;
    justify-content: center;
}


.left-box{
    width:400px;
    height:100%;
    float:left;
    margin-right:4%;
    padding: 4px;
}

#introduction a{
    width:130px;
    height:40px;
    text-decoration: none;
    margin-top:16px;
    padding: 4px 45px;
    color:#fff;
    font-family:sans-serif;
    font-size: 20px;
    font-weight:bold;
    border-radius:12px;
}


.right-btn{
    background: #3d5cdb;
}

.left-btn{
   background: #FFBF01; 
}

.btn_introduction{
    text-align: center;
}


#courses{
    margin-top:80px;
    background: rgba(186,213,245,0.6);
    width: 100%;
    height:60%;
    z-index:1;
    padding-bottom: 20px;
}

@media (min-width: 768px){
    #courses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .under{
    margin-top:0px;
    }
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.course{
    width: 240px;
    height:350px;
    border:2px #D2E3F6 solid;
    border-radius: 10px;
    display: inline-block;
    background: #fff;
    overflow: hidden;
    margin-right: 20px;
}

.above{
    width: 100%;
    margin: 0 auto;
    text-align:center;
}

.under{
    margin: 0 auto;
    text-align:center;
    margin-top: 30px;
}

.course img{
    text-align: center;
    padding:20px;
    min-width:100px;
    height:auto;
}

img.ofi{
    width:20%;
    height:40%;
    margin: 12px;
    object-fit: contain;
}

.course p{
    padding: 20px;
    font-size: 14px;
    color: #163c61;
    font-family:'Meiryo Bold';
    font-weight:bold;
    margin-bottom: 10px;
}

.course a{
    text-decoration: none;
    height:20px;
    width:130px;
    margin-top:16px;
    padding: 10px 25px;
    color:#fff;
    font-family:sans-serif;
    font-size: 13px;
    font-weight:bold;
    border-radius:12px;
    display: block;
    margin: 0 auto;
}

.course a:hover{
     box-shadow:0 0 10px #808080;
}

#html a{
    background: #F16529;
}

#css a{
    background: #29A9DF;
}

#unity a{
    background: #333;
}

#ruby a{
    background: #FF5252;
}

#js a{
    background: #FED700;
}

#swift a{
    background: #FE7536;
}

#go a{
    background: #73CEDD;
}

.slider{
    margin: 0 auto;
    width:80%;
}


#access{
    margin-top:70px;
}

.map{
    text-align:center;
}

footer{
    width:100%;
    text-align: center;
    position:absolute; /*親要素はwrapper*/
    bottom: 0;
}

footer p{
    font-size: 16px;
    height:60px;
    color:#3d5cdb;
    line-height:60px;
    text-align: center;
}




.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}



@media screen and (max-width:500px){
       
    
    .logo{
        z-index: 3;
        width:100%;
        position: absolute;
        top:200px;
        bottom:40px;
        margin : auto;
    }
    
    .logo p{
        font-size:30px;
    }

    .title{
        text-align: center;
        font-size:35px;
        line-height: 44.4px;
        color:#3d5cdb;
        padding: 40px;
        font-family:futura;
    }

    #introduction p{
        color:#333333;
        line-height:25px;
        font-size: 12px;
        width:400px;
        font-family:'Hiragino Kaku Gothic ProN';
        padding:8%;
    }
    
    #introduction img{
        float:none;
        width:100%;
        height:40%;
        padding:5px; 
    }
    
    
    .contents1{
        display: flex;
        flex-direction: column;
    }
    
    .contents2{
        display: flex;
        flex-direction: column-reverse;
        margin-top:18%;
    }

    .right-box{
        width:100%;
        height:110%;
        float:none;
        margin:0 auto;
    }

    .left-box{
        width:100%;
        height:130%;
        float:none;
        margin-top: 5%;
        margin:0 auto;
    }
    
    #slick {
        margin-bottom: 50px;
    }

    .slider{
        margin: 30px auto;
        width: 80%;
    }
    .slider img{
        height: auto;
        width: 100%;
    }

    /*slick setting*/
    .slick-prev:before,
    .slick-next:before {
        color: #000;
    }

    .slick-dots {
        bottom: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #courses{
        margin-top:80px;
        width: 100%;
        height:100%;
    }

    .course a{
        text-decoration: none;
        height:15px;
        width:120px;
        margin-top:8px;
        padding: 10px 25px;
    }

    .course p{
        padding: 5px;
        font-size: 14px;
        color: #163c61;
        font-family:'Meiryo Bold';
        font-weight:bold;
        margin-bottom: 10px;
    }

    .map iframe{
        width:80%;
        padding:20px;
        text-align: center;
        }
}

   
